/* Start Globel Rules */
:root {
  --main-color: #c841ff;
  --second-color: #fcfcf4;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  background-color: #fafafa;
}
/* End Globel Rules */
.shape-left {
  position: absolute;
  width: 600px;
  height: 600px;
  background-color: var(--main-color);
  border-radius: 0 0 50% 50%;
  left: -100px;
  z-index: -1;
  top: 0;
}
@media (max-width: 767px) {
  .shape-left {
    left: -400px;
  }
  .shape-right {
    display: none;
  }
}
.shape-right {
  position: absolute;
  width: 600px;
  height: 600px;
  background-color: #f7f4fb;
  border-radius: 50% 50% 0 0;
  right: -100px;
  bottom: 0;
  z-index: -1;
}
.phone-page {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991px) {
  .phone-page {
    flex-direction: column;
    gap: 30px;
    width: 500px;
  }
}
.phone-page .frame {
  background-color: #fefefe;
  border-radius: 35px;
  padding: 10px;
  width: 300px;
  height: 100%;
  position: relative;
  box-shadow: 5px 10px 15px #dab2b2ab;
}
.phone-page .frame .shape {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 150px;
  height: 35px;
  background-color: white;
  border-radius: 0 0 10px 10px;
}
.phone-page .frame .screen {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  background-color: #eff3f2;
  overflow: hidden;
}
.frame .screen .head {
  background-color: var(--main-color);
  width: 100%;
  min-height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 6px 6px;
  box-shadow: 2px 3px 6px 0px #c6c6c6ad;
}
.frame .screen .head i {
  margin-left: 10px;
  color: white;
}
.frame .screen .head div.image {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.frame .screen .head img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
  margin-left: 5px;
}
.frame .screen .head .right {
  display: flex;
  gap: 10px;
}
.frame .screen .head .heading h4 {
  font-weight: normal;
  color: white;
  margin: 15px 0 0;
}
.frame .screen .head .heading span {
  color: #ffffff6b;
  margin: 5px 0;
  font-size: 13px;
}
.frame .screen .head i.elli {
  color: white;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.screen .body {
  background-color: #f5f3f8;
}
.screen .body .one {
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 160px;
  margin-left: 15px;
}
.screen .body .one p {
  background-color: #ede4f4;
  padding: 10px;
  border-radius: 10px 10px 10px 0;
  line-height: 1.5;
  color: var(--main-color);
}
.screen .body .two img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.screen .body .two img:nth-child(2) {
  margin-left: 5px;
  margin-right: 5px;
}
.screen .body .two > div:first-of-type {
  text-align: right;
  margin-right: 20px;
}
.screen .body .two .info {
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 160px;
  margin-left: auto;
  margin-right: 20px;
}
.screen .body .two .info p {
  background-color: white;
  padding: 10px;
  border-radius: 10px 10px 0 10px;
  line-height: 1.5;
  color: gray;
}
.screen .body .three p {
  background-color: #ede4f4;
  padding: 10px;
  border-radius: 10px 10px 10px 0;
  line-height: 1.5;
  color: var(--main-color);
  font-size: 10px;
  width: 150px;
  margin-left: 15px;
}
.screen .body .three .card {
  padding: 10px;
  margin-left: 15px;
  background-color: var(--main-color);
  margin-bottom: 5px;
  width: 200px;
  color: white;
  font-size: 10px;
  border-radius: 6px 6px 6px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.screen .body .three .card span:first-child {
  padding-left: 30px;
  position: relative;
  color: #ffffffa1;
  font-size: 11px;
}
.screen .body .three .card span:first-child::before {
  content: "";
  display: inline-flex;
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #ccc;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.screen .body .three .card span:last-child {
  font-weight: bold;
  font-size: 15px;
  text-align: right;
}
.screen .foot {
  padding-top: 10px;
}
.screen .foot input {
  border: none;
  padding: 15px;
  border-radius: 50px;
  position: relative;
  width: 90%;
  margin: 5px 10px 10px;
}
.screen .foot input + i {
  position: absolute;
  right: 35px;
  bottom: 30px;
  background-color: #402a57;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.phone-page .content {
  width: 50%;
}
.phone-page .content h2 {
  margin: 0;
  font-size: 40px;
  font-weight: 600;
  color: #381f48;
}
.phone-page .content p {
  line-height: 1.7;
  color: #777;
  margin: 10px;
}
@media (max-width: 991px) {
  .phone-page .content {
    text-align: center;
  }
  .phone-page .content p {
    line-height: 1.7;
    color: #777;
    /* margin: 10px; */
    font-size: 15px;
  }
  .phone-page .content h2 {
    font-size: 33px;
  }
}
